.groupField{
    display: flex;
    flex-direction: column;
    gap:4px;
    width: 100%;
    align-items: flex-start;
}
.fieldLabel{
    margin: 0;
    font-size: 14px;
    color: #42515f;
    font-weight: 400;
    
}
.inputField{
    width: 100%;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
}
.inputField:focus{
    border-color: #f0754d ;
}
.inputField::placeholder{
    color: #dddddd;
}
.invalidField{
    border-color:red ;
}
.fieldWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    min-height: 62px;
}
.error{
    margin: 0;
    font-size: 10px;
    color:red
}