.header{
    width: 100%;
    height: 60px;
    padding:12px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(54, 62, 78, 0.15);

}
.navList{
    display: flex;
    gap:16px;
}
.navLink{
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 0 4px;
}
.navLink:hover{
    color: #f0754d;
    text-decoration: underline;
    
    ;
}
.activeLink {
    color: #f0754d;
    font-weight: 600;
}