.formContainer{
display: flex;
flex-direction: column;
width: 100%;
max-width: 400px;
box-shadow: 0px 4px 15px rgba(54, 62, 78, 0.15);
border-radius: 8px;
padding: 32px 20px;
margin: 32px auto;
gap:20px
}
.formTitle{
    margin: 0;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:12px;
}
.submitButton{
    margin: auto;
}